.app-wraper{
  margin: 0 auto;
  display: grid;

  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 10px;
}
.header{
  margin: 0;
  grid-area: h;
  background: linear-gradient(0deg, rgba(48,100,150,1) 0%, rgba(38,163,210,1) 100%);
}
.header img{
  width: 20px;
}
.nav{
grid-area: n;
  background: linear-gradient(0deg, rgba(48,100,150,1) 0%, rgba(38,163,210,1) 100%);
}
.content{
  grid-area: c;
  background-color: aqua;
}